html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: flex;
}

p {
  padding: 20px;
}

@media screen and (min-width: 1000px) {
  body {
    background-color: lightgreen;
    margin: 5px;
  }

  .container {
    flex-wrap: wrap;
  }
}
